name: DEV-Environmet CI/CD for INT and DEV
on:
  push:
    branches: ["develop", "main"]
  workflow_dispatch:
env:
  ENVIRONMENT_NAME: ${{vars.ENVIRONMENT_NAME}}

jobs:
  terraform:
    runs-on: ubuntu-latest
    environment: ${{ github.ref == 'refs/heads/main' && 'int' || 'dev'}}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-west-1

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        working-directory: ./terraform
        run: terraform init -backend-config="bucket=dapi-nowmonitoring-devops-${{env.ENVIRONMENT_NAME}}"

      - name: Terraform Format Check
        working-directory: ./terraform
        run: terraform fmt -check

      - name: Terraform Validate
        working-directory: ./terraform
        run: terraform validate

      - name: Terraform Plan
        id: plan
        working-directory: ./terraform
        run: terraform plan -var-file="variables/customvariables-${{env.ENVIRONMENT_NAME}}.tfvars" -no-color -input=false
        #run: terraform plan -no-color -input=false
        continue-on-error: true
      - name: Terraform Apply
        working-directory: ./terraform
        run: terraform apply -auto-approve
